{% extends 'base.html' %}

{% block content %}
<div class="container pt-5">
    <div class="text-center w-100 mx-auto my-5 py-5">
        <h1 class="display-5 fw-bold">The Team Behind This Project</h1>
        <p class="fs-5">The following people from BITS Goa's astronomy club, SEDS Celestia contributed in the making of this project.</p>
    </div>
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="row justify-content-around mb-5 pb-5">
                <div class="col-12 col-sm-6 col-md-4 mb-4 d-flex flex-column align-items-center">
                    <h2 class="font-monospace fw-bold fs-5 text-gray text-uppercase">Telescope Automation Team</h2>
                    <ul class="fs-5">
                        <li>Gyan Thammaiah</li>
                        <li>Pranav M R</li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-4 d-flex flex-column align-items-center">
                    <h2 class="font-monospace fw-bold fs-5 text-gray text-uppercase">Database and Scheduling Team</h2>
                    <ul class="fs-5">
                        <li>Soham Dambalkar</li>
                        <li>Aniket Sonawane</li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-4 d-flex flex-column align-items-center">
                    <h2 class="font-monospace fw-bold fs-5 text-gray text-uppercase">Webportal Team</h2>
                    <ul class="fs-5">
                        <li>Krish Patel</li>
                        <li>Kunal Mishra</li>
                    </ul>
                </div>
            </div>
            <div class="mb-5 pb-5"></div>
        </div>
    </div>
</div>
{% endblock %}
